
.box {
    display: flex;
}

.div-image {
    width: 300px;
    margin: 10px;
}

.image {
    width: 100%;
    height: 250px;
}

.group-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 10px;
}

.btn {
    width: 90px;
}