
.all-users {
    display: flex;
    justify-content: center;
    border: 0px solid black;
}

.user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0px solid red;
    width: 15%;
    text-align: center;
    margin: 5px;
}

.name {
    font-size: x-large;
}

.email {
    font-size: larger
}

.modal {
    text-decoration: none;
}


.detail {
    border: 1px solid red;
    height: 450px;
    display: none;
}

.imageDetail {
    width: 10%;
}